<app-navbar></app-navbar>
<div class="signin">
  <div class="container">
    <h1 class="tittle" mat-dialog-title>Registarse</h1>
    <div mat-dialog-content>
      <form [formGroup]="formGroup">
        <label for="name">Name</label>
        <input
          class="searchinput"
          name="name"
          formControlName="name"
          type="text"
        />
        <label for="password">Password</label>
        <input
          class="searchinput"
          name="password"
          formControlName="password"
          type="text"
        />
      </form>
    </div>
    <div class="but-container">
      <button mat-button class="button" (click)="signup()">Registrarse</button>
      <p>Ya tienes una cueanta? <a routerLink="/signin">Iniciar sesión</a></p>
    </div>
  </div>
</div>
