.navbar{ 
    background-color: white;
    padding: 40px 40px;
    border-bottom: solid 3px #009660;


    .spacer {
        flex: 1 1 auto;
    }
    .logo {
        width: 50px;
        padding-right: 16px;
        cursor: pointer;
    }
    .regbutton {
        background-color: #009660;
        padding: 4px 16px;
        border-radius: 24px;
        color: white;
        margin-left: 16px;
    }
    .logbutton {
        background-color: #1a1a1a;
        padding: 4px 16px;
        border-radius: 24px;
        color: white;
        margin-left: 16px;
    }
}


