.footer {
  border-top: #009660 solid 3px;
  margin-top: 50px;
  text-align: right;

  .button {
    margin: 8px 8px;
    background-color: #009660;
    color: white;
  }
}

.container {
  align-items: center;
  height: 690px;
  overflow: auto;
  margin: auto;
  width: 1500px;
  margin-top: 50px;

  .row:hover {
    background-color: rgb(238, 238, 238);
  }

  .headercolumn {
    cursor: move;
    color: white;
    background-color: #009660;
    font-size: 16px;
    text-align: center;
    border-right: solid 1px #017e50;
    border-left: solid 1px #017e50;
  }
  .paginator {
    width: 450px;
  }
  .cell {
    padding: 14px 0px;
    border-left: solid 1px rgb(238, 238, 238);
    border-right: solid 1px rgb(238, 238, 238);
    .button:hover {
      color: rgb(226, 40, 40);
    }
  }

  .firstcell {
    padding-left: 12px;
  }
}

table {
  width: 100%;
  text-align: center;
}
